.font-hira-kaku {
  font-family: YakuHanJP, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic Pro', sans-serif;
}

.font-hira-mincho {
  font-family: YakuHanJP, 'ヒラギノ明朝 ProN', 'Hiragino Mincho ProN', 'ＭＳ Ｐ明朝', 'MS PMincho', 'MS 明朝', sans-serif;
}

.font-meiryo {
  font-family: YakuHanJP, 'メイリオ', 'Meiryo', sans-serif;
}

.font-notosan-jp {
  font-family: YakuHanJP, 'Noto Sans Japanese', sans-serif;
}

.font-yu-mincho {
  font-family: YakuHanJP, '游明朝体', 'Yu Mincho', YuMincho, 'Hiragino Mincho ProN', 'ヒラギノ明朝 ProN', 'MS PMincho', 'MS 明朝',
    sans-serif;
}

.font-lato {
  font-family: YakuHanJP, 'Lato', serif;
}

.font-roboto {
  font-family: YakuHanJP, 'Roboto', '游ゴシック体', YuGothic, '游ゴシック Medium', 'Yu Gothic Medium', '游ゴシック', 'Yu Gothic', sans-serif;
}

.font-muli {
  font-family: YakuHanJP, 'Muli', '游ゴシック体', YuGothic, '游ゴシック Medium', 'Yu Gothic Medium', '游ゴシック', 'Yu Gothic', sans-serif;
}

.font-yu-gothic {
  font-family: YakuHanJP, '游ゴシック体', YuGothic, '游ゴシック Medium', 'Yu Gothic Medium', '游ゴシック', 'Yu Gothic', sans-serif;
}

.font-montserrat {
  font-family: YakuHanJP, 'Montserrat', sans-serif;
}
