$gray-b7: #b7b7b7; // テキスト
$gray-d9: #d9d9d9; // タグボーダー
$gray-b9: #b9b9b9; // ランキング 04
$red-primary: #ca3d04; // イチゴ
$orange-primary: #e85911; // ニンニク
$purple-primary: #8941a9; // なす
$green-primary: #4c7f07; // まあ~
$yellow-rank: #ffc500; // 記事ランキング
$gray-rank: #9fa3a7; // 記事ランキング
$brown-primary: #6e2304;
$yellow-rank-dark: #a8822b; // 記事ランキング
$gray-bg: #f5f3ec; // 目次
$green-bg: #869105; // Recruitment
$green-txt: #819b54;
$gray-bg-dark: #21201d; // 採用ボタン
$black-22: #222222; // ページング
$yellow-tag: #e0d1a1; // タグBlockBG
$gray-cre: #929ba0; // © Oisix ra daichi Inc.
$gray-a8: #a8a8a8;
